<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todas las solicitudes a index.php, excepto los archivos existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]

    # Gestionar Authorization Header
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^(.*)$ - [E=HTTP_AUTHORIZATION:%1]
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

    # Permitir acceso a imágenes (jpg, jpeg, png, gif, svg, etc.)
    <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|ico)$">
        # Permite el acceso a archivos de imágenes
        SetHandler None
        Options +FollowSymlinks
        ExpiresActive On
        ExpiresDefault "access plus 1 year"
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>
