services:
    _defaults:
        autowire: true  # Habilita la inyecci칩n autom치tica
        autoconfigure: true  # Configura autom치ticamente los servicios para ser utilizados por el contenedor

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Definici칩n de MessageHandler
    App\Message\MessageHandler:
        arguments:
            $chatMessageRepository: '@App\Repository\ChatMessageRepository'
            $entityManager: '@doctrine.orm.entity_manager'
