@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid transparent;       /* Hace que el fondo del círculo sea transparente */
  border-top: 4px solid #3498db;       /* Color visible del spinner */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}
